<div class="component-wrap container">
  <app-album [albums]="albums" [activeAlbumIndex]="0" [showAlbumsPane]="showAlbumsPane"></app-album>

<p class="text-center">
        <button class="btn btn-primary">
          <fa-icon
          icon="check"></fa-icon>
          Angular Bootstrap</button></p>


        <h6>Angular Material version of this site can be seen at
          <a  href="https://github.com/ItamarSerafim/AngularPlayground">https://github.com/ItamarSerafim/AngularPlayground</a></h6>


  <div class="clearfix"></div>
</div>
