<header>
  <nav>
    <button class="navbar-brand btn"><fa-icon icon="bars"></fa-icon></button>
  </nav>
</header>
<div class="container">
    <h1>Hello App.</h1>
     <p><a routerLink="login">Login</a></p>
     <p><a routerLink="home">Home</a></p>
     <p><a routerLink="contact">Contact</a></p>
    <router-outlet></router-outlet>
</div>
<!-- 
  @angular/common7.0.0
@angular/compiler7.0.0
@angular/core7.0.0
@angular/forms7.0.0
@angular/platform-browser7.0.0
@angular/platform-browser-dynamic7.0.0
@angular/router7.0.0
core-js 
rxjs
zone
-->
