p {
  font-family: Lato;
}
.navbar{
  background: #c2185b;
  color: #fff;
  padding-left:  0;
  padding-right: 5px;
  a{
    color:#fff;
  }
  .btn { background: none; color: #fff;}
}
.navbar-title{
  font-size: 1.25rem;
}
@media (max-width: 577px) {
  .app-title-wrap { display: none;}
}
#more-options-trigger:after {
    display: none;
}

.flex-row {
  display: flex;
}

.container.main {
    min-height: calc(100vh - 116px);
    overflow: auto;
}


.main-footer{
  text-align: center;
  background-color: #6c757d;
    color: #c7c7c7;
  min-height: 58px;
  .footer-title{
      margin: 0;
  }
}