
.flex-row {
  display: flex;
}
.side-menu-tools-wrap {
  position: relative;
  min-height: 38px;
}
.sidenav-controls {
  background-color: #6c757d;
  position: absolute;
  width: 100%;
  button{
    box-shadow: none;
  }
}


.list-group-item{
  padding: 0;
  &:hover{
    background: #555f66;
    a.link-item-wrap{
      color: #fff;
    }
  }
  a.link-item-wrap{
    align-items: center;
  }
  .menu-item-text {
    text-align: left;
    min-width: 200px;
  }
}
a.link-item-wrap{
  padding-left: 0;
}
.labels-hidden a.link-item-wrap {
  padding-right: 0;
}

input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
