
.flex-row {
  display: flex;
}
.side-menu-tools-wrap {
  position: relative;
  min-height: 38px;
}
.sidenav-controls {
  background-color: #6c757d;
  position: absolute;
  width: 100%;
  button{
    box-shadow: none;
  }
}


.list-group-item{
  padding: 0;
  display: flex;
  &:hover{
    background: #555f66;
    a.link-item-wrap{
      color: #fff;
    }
  }
}
a.link-item-wrap{
  padding-left: 0;
}
.labels-hidden a.link-item-wrap {
  padding-right: 0;
}